


.sj{
	width: 70%;
	margin: auto;
	margin-top: 30px;
}
.img{
	width:400px;
	height: 400px;
}
.wz{
	margin-left: 20px;
}
.wz1{
	margin-top: 25px;
	width: 600px;
	height: 250px;
	font-size: 15px;
}
.gm{
	margin-left: 50px;
	display: inline-block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    background-color: #c9483c;
    color: #fff;
    border: 1px solid #c9483c;
}
.add{
	margin-left: 50px;
	display: inline-block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
    color: #c9483c;
    border: 1px solid #c9483c;
}
