
			.page-header{
				width: 100%;
				height: 3.2rem;
				line-height: 3.2rem;
				background: white;
				overflow: hidden;
				margin: 0px;
				border-bottom: solid 1px;
			}
			.page-header-top{
				width: 70%;
				margin: 0 auto;
			}
			.page-header .top-left-nav{
				color: #ccc;
			}
			.page-header .top-left-nav__item{
				display: block;
				color: #b0b0b0;
			}
			.page-header .top-left-nav__item:hover{
				color: lightcoral;
				text-decoration: none;
			}
			.page-header .top-left-nav__item-selected{
				color: #fff;
			}
			.page-header .top-right-nav{
				color: #ccc;
				overflow: hidden;
			}
			.page-header .top-right-nav__item{
				display: block;
				color: #B0B0B0;
			}
			.page-header .top-right-nav__item:hover{
				color: lightcoral;
				text-decoration: none;
			}
			.page-header .top-cart{
				margin: 0 1.55rem;
				width: 10rem;
				float: right;
				text-align: center;
				cursor: pointer;
				background: #22b14c;
			}
			.page-header .top-cart__item{
				color: #fff;
				display: block;
			}
			.page-header .top-cart__item:hover{
				background: orange;
				text-decoration: none;
			}
			.top_select{
				width: 70%;
			}
